body {
	background-color: #F0F0F0;
	padding: 1px;
}

.header {
	padding: 0px;
	height: 50px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

.footer {
	padding: 0px;
	height: 50px;
	position: fixed;
	bottom: 59px;
	width: 100%;
	z-index: 1;
}

ul.fixedlinks {
	float: right;
}

li.fixedlinks {
	float: left;
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #A0ABFF;
}

li.lastli {
	border: none;
	padding-right: 20px;
}

a {
	color: orange;
	text-decoration: none;
}

img.logo {
	margin-left: 10px;
	float: left;
}

img.underdev {
	height: 300px;
	width: 500px;
	align: middle;
}

.pagedesc {
	text-align: center;
	margin: 10px;
	color: #3CD4FC;
	font-size: 1.6em;
}

.tabledesc {
	text-align: center;
	color: #98AC9E;
	font-size: 1.2em;
}

.appname {
	text-align: center;
	color: #F52039;
}

.center {
	text-align: center;
}

table.center {
	margin: 0px auto;
	text-align: center;
}

.main-story {
	margin-top: 95px;
	height: 495px;
}

h1 {
	color: #121212;
}

th {
	color: #3CD4FC;
}
