<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Home Page Of 53by97.in</title>
<link rel="stylesheet" type="text/css" href="resources/css/style.css" />
</head>
<body>
	<div class="header">
		<ul class="fixedlinks">
			<li class="fixedlinks"><a href="/">Home</a></li>
			<li class="fixedlinks"><a href="/app/interface/allnotes">All
					Notes</a></li>
			<li class="fixedlinks"><a href="/">About</a></li>
			<li class="fixedlinks lastli"><a href="mailto:admin@53by97.in"
				onfocus="mail us at admin@53by97.in ">Contact Us</a></li>
		</ul>
		<p class="appname">
			53by97 <sub>- Notes Of All Kinds</sub>
		</p>
	</div>

	<div class="main-story">
		<p class="pagedesc">
			Click on <span style="color:orange">All Notes</span> link to check currently available notes
		</p>

		<img alt="Website is under development .."
			src="resources/images/website-under-dev.jpg" class="center" />
	</div>

	<div class="footer">
		<p class="center">
			Please <a href="mailto:admin@53by97.in">mail us</a> your valuable
			feedbacks and help us to improve!
		</p>
		<ul class="fixedlinks">
			<li class="fixedlinks"><a href="">Privacy Policy</a></li>
			<li class="fixedlinks"><a href="">Copyright &copy; <span
					class="appname">53by97.in</span> 2016
			</a></li>
		</ul>
	</div>
</body>
</html>