<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Home Page Of 53by97.com</title>
<link rel="stylesheet" type="text/css" href="resources/css/style.css" />
</head>
<body>
	<!-- <img class="logo" alt="Old Books - Sell Them For Cash"
		src="resources/images/books_logo.jpg" /> -->
	<div class="header">
		<ul class="fixedlinks">
			<li class="fixedlinks"><a href="/">Home</a></li>
			<li class="fixedlinks"><a href="/app/interface/allnotes">All
					Notes</a></li>
			<li class="fixedlinks"><a href="/app/interface/about">About</a></li>
			<li class="fixedlinks lastli"><a href="mailto:admin@53by97.com"
				onfocus="mail us at admin@53by97.com ">Contact Us</a></li>
		</ul>
		<p class="appname">
			53by97 <sub>- Notes Of All Kinds</sub>
		</p>
	</div>

	<div class="main-story">
		<p class="pagedesc">
			Welcome to <span class="appname">53by97</span>.com <br /> Click on
			All Notes to check currently available notes <br />
		</p>
		<p>
			<br /> <br /> <span class="appname">Currently the website is
				under development ...</span> <br />
		</p>
	</div>

	<div class="footer">
		<p class="center">
			Please <a href="mailto:admin@53by97.in">mail us</a> your valuable
			feedbacks and help us to improve!
		</p>
		<ul class="fixedlinks">
			<li class="fixedlinks"><a href="">Privacy Policy</a></li>
			<li class="fixedlinks"><a href="">Copyright &copy; <span
					class="appname">53by97</span>.in 2016
			</a></li>
		</ul>
	</div>
</body>
</html>